*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #e7e7e7; /*cor de fundo*/
    padding-top: 100px; /*margem topo da pagina*/
}

header {
    display: flex; /*Para alinhas os elementos*/
    align-items: center; /*deixar os elementos centralizado na vertical*/
    margin-bottom: 40px; /*margem parte de baixo titulo*/
}

header img {
    height: 36px; /*Tamanho da imagem*/
    margin-right: 16px; /*margem a direita da imagem*/
}

header h1 {
    font-size: 40px;
    font-weight: bold; /*deixar negrito*/
}

.container {
    max-width: 960px; /*Tamanho da pagina*/
    width: 100%; /*Sinalizamos que o que esta dentro do container vai ocupar 100% do espaço de 960px*/
    margin: 0 auto; /*Para centralizar na horizontal*/
}

form {
    display: flex; /*para alinhar os elementos*/
    max-width: 640px; /*Espaço que vao ocupar*/
    width: 100%;
    justify-content: space-between; /*igualar o espaço entre os elementos*/
    margin-bottom: 56px; /*Margem inferior (separando formulario da tabela)*/
}

form input {
    background-color: #fff; /*cor do fundo do campo*/
    font-size: 24px; /*tamanho da fonte*/
    border: none; /*remover borda*/
    border-bottom: #000;
    padding: 8px; /*Espaço entre os elementos*/
}

form button{
    background-color: #009432; /*cor do fundo do botão*/
    color: #fff; /*cor da fonte do botão*/
    font-size: 24px; /*tamanho da fonte*/
    font-weight: bold; /*negrito*/
    border: none; /*remover borda*/
    cursor: pointer; /*Cursor do mouse (mãozinha con indicador*/
    padding: 8px; /*Espaço entre os elementos*/
}

table {
    width: 100%; /*para tabela ocupar 100% do espaço*/
}

table th { /*modificando nome das colunas*/
    border-bottom: 2px solid #000; /*borda entre os elementos*/
    padding: 16px; /*Espaçamento*/
    font-size: 24px; /*Fonte */
    font-weight: bold; /*negrito*/
}

table td{ /*modificando texto das linhas da tabela*/
    padding: 16px 0; /*somente espaço de 8px na parte superior e inferior... nas laterias 0 zero*/
    text-align: center; /*Alinha os textos das colunas e linhas*/
    font-size: 18px;
    border-bottom: 1px solid rgba(0,0,0,0.5); /*colocamos um separador nas linhas... na cor preta quase transparente*/
}

table td img{ /*modificando imagem da tabela (emoji)*/
    width: 30px;
}

.resultado { /*modificando condição da nota (aprovado ou não?*/
    padding: 8px; /*espaçamento*/
    font-weight: bold; /*negrito*/
    color: #fff; /*cor*/
    background-color: #000; /*Cor de fundo*/
    border-radius: 3px; /*Deixa as botas arredondadas envolta*/
}

.aprovado { /*classe para o texto e fundo mudar de acordo com a condição da nota aprovado ou reprovado*/
    background-color: #009432;
}

.reprovado { /*classe para o texto e fundo mudar de acordo com a condição da nota aprovado ou reprovado*/
    background-color: #940000;
}